fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-multipart
requests
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
openai
google-generativeai
huggingface-hub
cohere
jinja2
